actividades/Actividad7/7.2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="agenda">
   <xs:complexType>
    <xs:sequence>
        <xs:element ref="contact" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="contact">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="landLine"/>
              <xs:element type="xs:string" name="mobilePhone"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
 </xs:schema>
 