actividades/Actividad7/7.2.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="myCustomType">
       <xs:simpleContent>
           <xs:extension base="xs:string">
               <xs:attribute type="xs:string" name="nom" use="required" />
               <xs:attribute type="xs:string" name="llicencia" use="required" />
           </xs:extension>
       </xs:simpleContent>
   </xs:complexType>

   <xs:element name="programes">
       <xs:complexType>
           <xs:sequence>
               <xs:element name="programa" maxOccurs="unbounded" type="myCustomType" />
           </xs:sequence>
       </xs:complexType>
   </xs:element>
</xs:schema>
