actividades/Actividad7/7.2.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="solarSystem">
   <xs:complexType>
     <xs:sequence>
       <xs:element name="body" maxOccurs="unbounded" minOccurs="0">
         <xs:complexType>
           <xs:choice>
             <xs:element type="xs:string" name="satellite"/>
             <xs:element type="xs:string" name="asteroid"/>
             <xs:element type="xs:string" name="planet"/>
           </xs:choice>
           <xs:attribute type="xs:integer" name="cod" use="required"/>
         </xs:complexType>
       </xs:element>
     </xs:sequence>
   </xs:complexType>
 </xs:element>
</xs:schema>
