actividades/Actividad7/7.2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="artists">
       <xs:complexType>
           <xs:sequence>
               <xs:element name="performer" maxOccurs="unbounded" minOccurs="0" type="myType" />
           </xs:sequence>
       </xs:complexType>
   </xs:element>

   <xs:complexType name="myType">
       <xs:all>
           <xs:element type="xs:string" name="name" />
           <xs:element type="xs:string" name="nick" />
           <xs:element type="xs:string" name="born" />
       </xs:all>
   </xs:complexType>
</xs:schema>