actividades/Actividad7/7.3.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="dades">
       <xs:choice>
           <xs:element name="codi" type="xs:integer" />
           <xs:element name="nom" type="xs:string" />
       </xs:choice>
       <xs:attribute name="numero" type="xs:integer" use="required" />
       <xs:attribute name="lletra" type="xs:string" use="optional" />
   </xs:complexType>
   <xs:element name="fitxes">
       <xs:complexType>
           <xs:sequence>
               <xs:element name="fitxa" type="dades" maxOccurs="unbounded" />
           </xs:sequence>
       </xs:complexType>
   </xs:element>
</xs:schema>