actividades/Actividad7/7.4.1.xsd

<?xml version = "1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
<xs:element name="esportistes"/>
<xs:element name="esportista" type="dades"/>
<xs:complexType name="dades">
  <xs:sequence>
      <xs:element name="nom" type="xs:string"/>
      <xs:element name="esport" type="xs:string"/>
  </xs:sequence>
</xs:complexType>
</xs:schema>