actividades/Actividad7/7.4.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
<xs:element name="programes"/>
<xs:element name="programa" type="programa"/>
<xs:complexType name="programa">
    <xs:sequence>
        <xs:element name="nom" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="llicencia" type="xs:string"/>
</xs:complexType>
</xs:schema>